/* .book-section {
  padding: 20px;
} */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 250px;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 0.5px solid #c0c0c0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  position: relative;
}

.book-text {
  line-height: 25px;
}

.book-details {
  padding: 20px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth hover effect */
}

.book h1 {
  margin-top: 0; /* Change to h1 */
  margin-bottom: 10px; /* Change to h1 */
}

.book p {
  margin: 0;
}

.book button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* GSAP Hover Animation */
.gsap-hover {
  cursor: pointer;
}

.gsap-hover:hover .book-details {
  transform: translateY(-10px);
}

.gsap-hover:hover .book button {
  transform: translateY(10px);
}
